*{
    font-family: Helvetica;
    transition: 180ms linear;
}

body{
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
}

a, input[type="submit"]{
    text-decoration: none;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0.7;
}

a:hover, input[type="submit"]{
    opacity: 1;
}

input, textarea{
    border-radius: 8px;
}

label, textarea, input{
    margin-bottom: 5px;
}

label{
    font-size: 1.2em;
}

textarea{
    align-self: center;
}

div{
    text-align: center;
    text-justify: initial;
}

/* id */
#comment-form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#comment-form{
    background-color: #fff;
    margin-bottom: 3px;
}

#posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#posts-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 5px 0;
}

#post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#comments-container, #post-container, #posts-container div{
    width: 95%
}

#posts-container div:hover{
    margin-bottom: 8px
}

/* class */
.hide{
    display: none;
}

.divComments, .divPost{
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

.divComments:hover, .divPost:hover{
    margin-bottom: 11px;
}

.divPost, #posts-container div{
    background-color: #607df3b6;
    margin-top: 3px;
}

.divPost:hover, #posts-container div:hover{
    box-shadow: 8px 8px #607ef3;
}

.divComments{
    background-color: #1453b8c1;
}

.divComments:hover{
    box-shadow: 8px 8px #1453b8;
}

.bodyComments, .bodyPost{
    text-align: left;
}
.emailComments{
    background-image: url(../img/email.png);
}

.nameComments{
    background-image: url(../img/user.png);
}

.emailComments, .nameComments{
    background-repeat: no-repeat;
    background-position: left;
    padding: 0 20px;
}